# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

*.safetensors
*.bin


# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
*.wav
.venv
